{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form method="POST">
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.csrf_token }}
        {{ form.name.label }}
        {{ form.name }}
        
        {{ form.price.label }}
        {{ form.price }}

        {{ form.category.label }}
        {{ form.category }}

        {{ form.photo_url.label }}
        {{ form.photo_url }}

        {{ form.store.label }}
        {{ form.store }}

        {{ form.submit }}

    </fieldset>
</form>


{% endblock %}
